################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarLynx/FileContentIndex/afbd8b21-ae00-48dc-be25-ac0de17b3873.vsidx
/CarLynx/.vs/CarLynx/FileContentIndex
/CarLynx/obj/Debug/CarLynx.exe
