################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarLynx/FileContentIndex/afbd8b21-ae00-48dc-be25-ac0de17b3873.vsidx
/CarLynx/.vs/CarLynx/FileContentIndex
/CarLynx/obj/Debug/CarLynx.exe
/CarLynx/bin/Debug/CarLynx.exe
/CarLynx/bin/Debug/CarLynx.pdb
/CarLynx/.vs/CarLynx/v17/.suo
/CarLynx/.vs/CarLynx/v17/DocumentLayout.json
/CarLynx/obj/Debug/View/MainWindow.g.cs
/CarLynx/obj/Debug/View/MainWindow.baml
/CarLynx/obj/Debug/View/MainWindow.g.i.cs
/CarLynx/obj/Debug/CarLynx.pdb
/CarLynx/obj/Debug/CarLynx.g.resources
/CarLynx/bin/Debug/CarLynx.exe
/CarLynx/obj/Debug/CarLynx.pdb
/CarLynx/.vs/CarLynx/v17/.suo
/CarLynx/.vs/CarLynx/v17/DocumentLayout.json
/CarLynx/bin/Debug/CarLynx.pdb
/CarLynx/bin/Debug/CarLynx.exe
/CarLynx/bin/Debug/CarLynx.pdb
/CarLynx/.vs/CarLynx/v17/DocumentLayout.json
/CarLynx/.vs/CarLynx/v17/.suo
/CarLynx/bin/Debug/CarLynx.pdb
/CarLynx/bin/Debug/CarLynx.exe
/CarLynx/bin/Debug/CarLynx.exe
/CarLynx/bin/Debug/CarLynx.pdb
/CarLynx/.vs/CarLynx/v17/DocumentLayout.json
/CarLynx/.vs/CarLynx/v17/.suo
/CarLynx/obj/Debug/CarLynx_MarkupCompile.i.cache
/CarLynx/obj/Debug/CarLynx_MarkupCompile.i.lref
/CarLynx/obj/Debug/CarLynx_MarkupCompile.cache
/CarLynx/obj/Debug/CarLynx.g.resources
/CarLynx/View/car_product.xaml.cs
/CarLynx/obj/Debug/View/MainWindow.g.i.cs
/CarLynx/obj/Debug/View/MainWindow.g.cs
/CarLynx/obj/Debug/View/MainWindow.baml
/CarLynx/obj/Debug/CarLynx.pdb
/CarLynx/obj/Debug/CarLynx.csproj.CoreCompileInputs.cache
